# Ignore Python bytecode files
*.pyc
*.pyo

# Ignore cache directories
**/__pycache__/

# Ignore virtual environment folders
env/
env_analysis/
.venv/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore folders
.dist/
.vscode/
.pytest_cache

# Other ignores
.DS_Store
build/
*.egg-info/